<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/styles.css" />
    <link rel="icon" href="./static/logo.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYCO 12</title>
    <script>
      function toggleAbstract(talk) {
        var abstractElem = document.getElementById(talk + "-abstract");
        if(abstractElem.classList.contains("abstract-hidden")) {
          abstractElem.classList.remove("abstract-hidden")
          abstractElem.classList.add("abstract-visible")
        } else {
          abstractElem.classList.add("abstract-hidden")
          abstractElem.classList.remove("abstract-visible")
        }
      }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <div id="content">
      <div id="header">
        <div>
          <img id="logo" src="./static/logo.svg" alt="SYCO logo" />
        </div>
        <div>
          <h1>Twelfth Symposium on Compositional Structures (SYCO 12)</h1>
          <div id="location">Birmingham, UK</div>
          <div id="dates">15-16 April, 2024</div>
        </div>
      </div>
      <p>
        The <i>Symposium on Compositional Structures</i> is a series of
        interdisciplinary meetings aiming to support the growing community of
        researchers interested in the phenomenon of compositionality, from both
        applied and abstract perspectives, and in particular where category
        theory serves as a unifying common language. We welcome submissions from
        researchers across computer science, mathematics, physics, philosophy,
        and beyond, with the aim of fostering friendly discussion, disseminating
        new ideas, and spreading knowledge between fields. Submission is
        encouraged for both mature research and work in progress, and by both
        established academics and junior researchers, including students.
      </p>
      <p>
        Submission is easy, with no format requirements or page restrictions.
        The meeting does not have proceedings, so work can be submitted even if
        it has been submitted or published elsewhere. You could submit
        work-in-progress, or a recently completed paper, or even a PhD or
        Masters thesis.
      </p>
      <p>
        While no list of topics could be exhaustive, <i>SYCO</i> welcomes
        submissions with a compositional focus related to any of the following
        areas, in particular from the perspective of category theory:
      </p>
      <ul>
        {%- for area in areas -%}
        <li>
          <b>{{ area.name }}</b>
          including
          {%- for inc in area.including -%}
            {%- if forloop.last -%}and{%- endif %}
            {{ inc }}
            {%- if not forloop.last %}, {% endif-%}
          {%- endfor -%}
          {%- if not forloop.last -%};{%- endif %}
        </li>
        {%- endfor -%}
      </ul>
      <p>
        This new series aims to bring together the communities behind many
        previous successful events which have taken place over the last decade,
        including {%- for event in events -%} {%- if forloop.last -%}and{%-
        endif %}
        <i><a href="{{ event.web }}/">{{ event.name }}</a></i>
        {%- if not forloop.last %}, {% endif -%} {%- endfor -%}.
      </p>
      <p>
        This event follows
        {%- for edition in previous -%}
          {%- if forloop.last-%}and{%- endif %}
          <i><a href="../{{ edition.no }}/">SYCO {{ edition.no }}</a></i> in
          {{ edition.venue }}
          {%- if not forloop.last %}, {% endif -%}
        {%- endfor -%}.
      </p>
      <p>
        For those interested in extending their visit to the Midlands, we take
        place just after the
        <a href="https://www.cs.le.ac.uk/events/mgs2024/"
          >Midlands Graduate School 2024</a
        > in Leicester on 08-12 April.
      </p>

      <h2>Invited speakers</h2>

      <div class="invited-speakers">
        {%- for speaker in invited -%}
        {%- assign person = people[speaker.name] -%}
        {%- assign talk = talks[speaker.name] -%}
          <div class="invited-speaker">
            <img src="static/{{ person.img }}" width="230px" alt="{{ person.name }}" />
            <div class="name">
              {%- if person.web -%}
                <a href="{{ person.url }}">
              {% endif %}
              {{ person.name }}
              {%- if person.web -%}
                  </a>
              {% endif %}
            </div>
            <div class="affiliation">{{ person.affiliation }}</div>
          </div>
        {%- endfor -%}
      </div>

      <h2 id="dates">Important dates</h2>

      <p>
        All deadlines are 23:59
        <a href="https://www.timeanddate.com/time/zones/aoe">anywhere-on-earth</a>
        on the given dates.
      </p>

      <ul>
          {%- for date in dates -%}
            <li>
              {%- if date.done -%}<s>{%- endif -%}
                <span class="event">
                  {{ date.name }}:
                </span>
                <span class="date">
                  {{ date.date }}
                </span>
              {%- if date.done -%}</s>{%- endif -%}
            </li>
          {%- endfor -%}
      </ul>

      The important dates can be found in the
      <a href="https://calendar.google.com/calendar/ical/1082bd9044e887fc3095c4f69f352131976200a65678dbf6744c577e71762b47%40group.calendar.google.com/public/basic.ics">SYCO 12 calendar</a>.

      <h2 id="online">In-person and online participation</h2>
      <p>
        While the SYCO experience is best enjoyed in-person, all talks will be
	livestreamed for virtual participants.
	However, speakers are expected to present their contribution in person.
      </p>

      <h2 id="registration">Registration</h2>

      <p>
        Registration for in-person attendence has now closed.
        If you would like to participate virtually, you can still register using
        the
        <a href="https://forms.gle/XxKEssgXiYSo4TUZ8">SYCO 12 registration form</a>.
     </p>

      <h2>Accepted talks</h2>

      <ul>
      {%- for item in talks -%}
        {%- assign key = item[0] -%}
        {%- assign talk = talks[key] -%}
        {%- if not talk.invited -%}
        <li><div><b>{%- for author in talk.authors -%}
          {{ author.name }}
          {%- if not forloop.last %}, {% endif -%}
          {%- endfor -%}</b></div><div>{{ talk.title }}</div></li>
        {%- endif -%}
      {%- endfor -%}
      </ul>

      <h2 id="programme">Schedule</h2>

      <p>
        The author marked with an asterisk * will be presenting the talk.
      </p>

      <div class="schedule">
        {%- for day in schedule -%}
          {%- assign dayname = day[0] -%}
          {%- assign dayitem = schedule[dayname] -%}
          <h3 class="schedule-section-title">{{ dayitem.name }}</h3>
          <div class="schedule-day">
          {%- for item in dayitem.schedule -%}
            {%- if item.type == "break" -%}
            <div class="schedule-item schedule-break">
              <div class="schedule-break-details">
                <div class="schedule-time">{{ item.time }}</div>
                <div><b>{{ item.name | makeUppercase }}</b></div>
              </div>
            </div>
            {%- elsif item.type == "talk" -%}
            {%- assign talk = talks[item.talk] -%}
            <div class="schedule-item schedule-talk">
                <div class="schedule-talk-details">
                  <div class="schedule-time">{{ item.time }}</div>
                  <div class="talk-authors">
                    <b>{%- for author in talk.authors -%}
                    {{ author.name }}{%- if author.presenter -%}*{%- endif -%}
                    {%- if not forloop.last %}, {% endif -%}
                    {%- endfor -%}</b>
                  </div>
                </div>
                <div class="schedule-talk-second-row">
                  <div class="talk-title">
                    {{ talk.title }}
                  </div>
                  {%- if talk.abstract -%}
                  <button class="talk-button" onClick="toggleAbstract('{{ item.talk }}')">
                    [Abstract]
                  </button>
                  {%- endif -%}
                </div>
                <div id="{{ item.talk }}-abstract" class="abstract abstract-hidden">
                  <div>
                    {{ talk.abstract | newline_to_br }}
                  </div>
                  <div class="close-button-holder">
                    <button class="close-abstract-button talk-button" onClick="toggleAbstract('{{ item.talk }}')">
                      [Close abstract]
                    </button>
                  </div>
                </div>
            </div>
            {%- endif -%}
          {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>

      <h2 id="localInformation">Local information</h2>

      <p>
        Talks will take place in the <a href="https://www.accessable.co.uk/university-of-birmingham/access-guides/old-gym">Old Gym</a>
        in room <a href="https://universityofbirmingham.service-now.com/eqpublic/rooms.do?room=be5f38dfdb186740e4abf1c41d961999">LG10</a>,
        which can be found on the lower ground floor, down the stairs from the entrance.
      </p>

      <p>
        Lunches are provided and will take place in the atrium of the School of
        Computer Science, which is a short walk up the hill from the Old Gym.
        Coffee breaks will take place in the seminar room.
      </p>

      <h3>Transport</h3>

      <h4>Train</h4>

      <p>
        The main railway station in Birmingham is
        <a href="https://www.nationalrail.co.uk/stations/birmingham-new-street/" title="Birmingham New Street railway station National Rail page"><b>Birmingham New Street</b></a>,
        which receives direct services from all over the country including London, Manchester, Oxford, Cambridge, Bristol, Edinburgh and Glasgow.
        Services from London to Birmingham New Street depart from London Euston, which is
        a ten minute walk from London St Pancras, the Eurostar terminus.
        An alternative route from London that some find more pleasant is to travel from London Marylebone to
        <a href="https://www.nationalrail.co.uk/stations/birmingham-moor-street/" title="Birmingham Moor Street railway station National Rail page"><b>Birmingham Moor Street</b></a>,
        which is a five minute walk from New Street.
      </p>

      <p>
        The university has its own railway station, fittingly titled
        <a href="https://www.nationalrail.co.uk/stations/university-birmingham/" title="University railway station National Rail page">
          <b>University</b></a>.
        There is a regular service from Birmingham New Street to University,
        usually departing from platform 12B: look for trains going to
        Redditch, Bromsgrove, Longbridge, Worcester, Hereford, or Cardiff Central.
        It is often no added charge to extend a ticket to Birmingham New Street
        to University. On tickets that are not Advance Singles it is
        fine to 'break your journey' so you are permitted to alight at Birmingham
        New Street and get back on a train to University later in the day, or vice
        versa.
      </p>

      <p>
        Journeys can be planned using the
        <a href="https://www.nationalrail.co.uk/">National Rail website</a>.
        Tickets can be purchased from machines or ticket offices at railway
        stations, or from train operator websites such as the
        <a href="https://www.westmidlandsrailway.co.uk/">West Midlands Railway website</a>
        without paying a booking fee.
        Purchasing tickets from sites such as Trainline should be avoided as
        the fares are exactly the same price and a booking fee is added to the
        cost.
      </p>

      <h4>Bus</h4>

      The University is well-served by bus: the National Express West Midlands
      services
      <a href="https://bustimes.org/services/x21-birmingham-woodcock-hill-via-weoley-castle" title="X21 bustimes.org page"><b>X21</b></a>,
      <a href="https://bustimes.org/services/x22-birmingham-woodgate-via-university" title="X22 bustimes.org page"><b>X22</b></a>,
      <a href="https://bustimes.org/services/61-birmingham-frankley-via-selly-oak-northfield" title="61 bustimes.org page"><b>61</b></a>, and
      <a href="https://bustimes.org/services/63-birmingham-frankley-via-northfield-rubery" title="63 bustimes.org page"><b>63</b></a>
      call nearby and stop outside Birmingham New Street at
      <a href="https://bustimes.org/stops/43000201703" title="Birmingham New St Stop NS3 bustimes.org page"><b>stop NS3</b></a>.

      <p>
        The easiest way to pay for National Express West Midlands buses in
        Birmingham is to simply tap the card reader by the driver with a
        contactless bank card when you get on; you do not need to tap off.
        A single journey is £2 and there is a daily cap of £4.50.
        Individual tickets can be bought on the bus with contactless card or
        cash in exact change: ask the driver for a single (£2 for any journey)
        or a Daysaver (£4.50 for travel all day in the West Midlands).
        If travelling in a group, a Group Daysaver costs £8 and allows up to
        five people to travel together on one ticket.
      </p>

      <p>
        It is possible to follow buses on a map in (relative) real-time using
        <a href="https://bustimes.org/">bustimes.org</a>.
        Google Maps also shows real-time information.
      </p>

      <h4>Air</h4>

      The nearest airport to Birmingham is
      <a href="https://www.birminghamairport.co.uk/" title="Birmingham Airport website"><b>Birmingham Airport</b></a>,
      which has its own railway station called
      <b><a href="https://www.nationalrail.co.uk/stations/birmingham-international/" title="Birminghm International National Rail page">Birmingham International</a></b>.
      which is a ten minute direct train ride to Birmingham New Street.
      There is also a direct rail service between Birmingham and London Stansted Airport which
      takes about three hours.
      for the other London airports (Heathrow, Gatwick, Luton, City) it is
      probably best to travel into London and then onwards to Birmingham, which
      will take about two hours.
      Manchester Airport, Liverpool John Lennon Airport, and Bristol Airport
      are also about two hours to Birmingham.

      <h3>Accommodation</h3>

      There are plenty of hotels in the centre of Birmingham; we recommend
      getting one near Birmingham New Street station.
      There are also many AirBnB places available, especially near Birmingham
      New Street or Five Ways railway stations, the latter of which is also
      on the line to University station.

      <h2 id="socials">Social activities</h2>

      <h3>Pub social</h3>

      We will gather at a local pub the evening before the workshop starts,
      <b>Sunday 14 April</b>.
      Details are to be confirmed.

      <h3>Evening meal</h3>

      <p>
        On the evening of <b>Monday 15 April</b> from <b>18:00</b>, we will have
        a buffet dinner at independent cafe-bar
        <a href="https://cherryreds.com/" title="Cherry Reds website">Cherry Reds</a>,
        at participants' own cost (£14 each).
        We will be having a selection of the 'Big Red Buffet' and 'All Vegan'
        platters, the details of which can be found on the
        <a href="https://cherryreds.com/wp-content/uploads/2023/09/Cherry-Reds-Buffet-Menu-winter-23.pdf" title="Cherry Reds buffet menu">
          Cherry Reds buffet menu</a>.
        We have booked out the <b>Bosta Room</b>, which can be found by going
        upstairs and turning left at the top.
      </p>
      <img src="static/cherryreds.jpg" width="300px" alt="A three storey redbrick corner building with 'Cherry Reds cafe bar' written on the front" />
      <img src="static/bosta.jpg" width="300px"  alt="A room with assorted tables and chairs; a long wavy sofa seat is on the left and fairy lights hang from the ceiling."/>
      <p>
        Cherry Reds is less than a five minute walk from Birmingham New Street
        railway station.
        If you are arriving by train, it can be quicker to walk to the far end
        of the 'B' end of the platform, go up the very last staircase and turn
        left.
        Once you exit the station onto Hill Street, cross the road and continue
        straight ahead; Cherry Reds will be on your left.
      </p>

      <h2>Attendees</h2>

      <p>Attendees marked with an asterisk * will attend physically.</p>

    <div>
      <ul>
        {%- for attendee in attendees -%}
          <li>
            {%- if attendee.website -%}
              <a href="//{{ attendee.website }}" title="{{ attendee.name }}'s personal website">
            {%- endif -%}
              {{ attendee.name }}
            {%- if attendee.website -%}
              </a>
            {%- endif -%}{%- if attendee.institution -%}, {{ attendee.institution }}{%- endif -%}
            {%- if attendee.inperson -%}
              *
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
      </div>

      <h2 id="lo">Local organizers</h2>

      <div class="people">
        {%- for member in organising -%}
        {%- assign person = people[member.name] -%}
        <div class="person-box">
          <img class="person" src="./static/{{ person.img }}" alt="{{ person.name }}"/>
          <div class="name"><a href="{{ person.web }}">{{ person.name }}</a></div>
          <div class="affiliation">{{ person.affiliation }}</div>
        </div>
        {%- endfor -%}
      </div>

      <h2 id="pc">Programme committee</h2>

      <div class="people">
        {%- for member in programme -%}
        {%- assign person = people[member.name] -%}
        <div class="person-box">
          <img class="person" src="./static/{{ person.img }}" alt="{{ person.name }}"/>
          <div class="name">{% if person.web %}<a href="{{ person.web }}" title="{{ person.name }}'s personal webpage">{% endif %}{{ person.name }}{%- if member.chair %} (chair){%- endif -%}{% if person.web %}</a>{% endif %}</div>
          <div class="affiliation">{{ person.affiliation }}</div>
        </div>
        {%- endfor -%}
      </div>

      <h2 id="sc">Steering committee</h2>

      <p>
        The symposium is managed by the following people. If you have a general
        question about SYCO, or if you want to propose to host a future
        iteration, please get in touch with a member of the steering committee.
      </p>

      <div class="people">
        {%- for member in steering -%}
        {%- assign person = people[member.name] -%}
        <div class="person-box">
          <img class="person" src="./static/{{ person.img }}" alt="{{ person.name }}"/>
          <div class="name">{% if person.web %}<a href="{{ person.web }}" title="{{ person.name }}'s personal webpage">{% endif %}{{ person.name }}{% if person.web %}</a>{% endif %}</div>
          <div class="affiliation">{{ person.affiliation }}</div>
        </div>
        {%- endfor -%}
      </div>

      <h2 id="sponsorship">Sponsorship</h2>
      <p>
        Thanks to <a href="https://www.cs.bham.ac.uk/~drg/" title="Dan Ghica's personal webpage">Dan Ghica</a> for
        providing funding from his EPSRC grant, and to
        <a href="https://www.cs.bham.ac.uk/~mhe/" title="Martin Escardo's personal webpage">Martin Escardo</a> and
        <a href="https://filipendule.github.io/" title="Sonia Marin's personal webpage">Sonia Marin</a>
        for providing funding from the <a href="https://www.birmingham.ac.uk/research/activity/computer-science/theory-of-computation" title="Theory Group webpage">Theory Group</a>'s budget.
        Without their contributions this edition of SYCO would not have been
        able to go ahead!
      </p>
    </div>
  </body>
</html>
