<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/styles.css" />
    <link rel="icon" href="./static/logo.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYCO 12</title>
    <script>
      function toggleAbstract(talk) {
        var abstractElem = document.getElementById(talk + "-abstract");
        if(abstractElem.classList.contains("abstract-hidden")) {
          abstractElem.classList.remove("abstract-hidden")
          abstractElem.classList.add("abstract-visible")
        } else {
          abstractElem.classList.add("abstract-hidden")
          abstractElem.classList.remove("abstract-visible")
        }
      }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <div id="content">
      <div id="header">
        <div>
          <img id="logo" src="./static/logo.svg" alt="SYCO logo" />
        </div>
        <div>
          <h1>Twelfth Symposium on Compositional Structures (SYCO 12)</h1>
          <div id="location">Birmingham, UK</div>
          <div id="dates">15-16 April, 2024</div>
        </div>
      </div>
      <p>
        The <i>Symposium on Compositional Structures</i> is a series of
        interdisciplinary meetings aiming to support the growing community of
        researchers interested in the phenomenon of compositionality, from both
        applied and abstract perspectives, and in particular where category
        theory serves as a unifying common language. We welcome submissions from
        researchers across computer science, mathematics, physics, philosophy,
        and beyond, with the aim of fostering friendly discussion, disseminating
        new ideas, and spreading knowledge between fields. Submission is
        encouraged for both mature research and work in progress, and by both
        established academics and junior researchers, including students.
      </p>
      <p>
        Submission is easy, with no format requirements or page restrictions.
        The meeting does not have proceedings, so work can be submitted even if
        it has been submitted or published elsewhere. You could submit
        work-in-progress, or a recently completed paper, or even a PhD or
        Masters thesis.
      </p>
      <p>
        While no list of topics could be exhaustive, <i>SYCO</i> welcomes
        submissions with a compositional focus related to any of the following
        areas, in particular from the perspective of category theory:
      </p>
      <ul>
        {%- for area in areas -%}
        <li>
          <b>{{ area.name }}</b>
          including
          {%- for inc in area.including -%}
            {%- if forloop.last -%}and{%- endif %}
            {{ inc }}
            {%- if not forloop.last %}, {% endif-%}
          {%- endfor -%}
          {%- if not forloop.last -%};{%- endif %}
        </li>
        {%- endfor -%}
      </ul>
      <p>
        This new series aims to bring together the communities behind many
        previous successful events which have taken place over the last decade,
        including {%- for event in events -%} {%- if forloop.last -%}and{%-
        endif %}
        <i><a href="{{ event.web }}/">{{ event.name }}</a></i>
        {%- if not forloop.last %}, {% endif -%} {%- endfor -%}.
      </p>
      <p>
        This event follows
        {%- for edition in previous -%}
          {%- if forloop.last-%}and{%- endif %}
          <i><a href="../{{ edition.no }}/">SYCO {{ edition.no }}</a></i> in
          {{ edition.venue }}
          {%- if not forloop.last %}, {% endif -%}
        {%- endfor -%}.
      </p>
      <p>
        For those interested in extending their visit to the Midlands, we take
        place just after the
        <a href="https://www.cs.le.ac.uk/events/mgs2024/"
          >Midlands Graduate School 2024</a
        > in Leicester on 08-12 April.
      </p>

      <h2>Invited speakers</h2>

      <div class="invited-speakers">
        {%- for speaker in invited -%}
          <div class="invited-speaker">
            <img src="static/{{ speaker.img }}" width="230px" alt="{{ speaker.name }}" />
            <div class="name">
              {%- if speaker.url -%}
                <a href="{{ speaker.url }}">
              {% endif %}
              {{ speaker.name }}
              {%- if speaker.url -%}
                  </a>
              {% endif %}
            </div>
            <div class="affiliation">{{ speaker.affiliation }}</div>
          </div>
        {%- endfor -%}
      </div>

      <h2 id="dates">Important dates</h2>

      <p>
        All deadlines are 23:59
        <a href="https://www.timeanddate.com/time/zones/aoe">anywhere-on-earth</a>
        on the given dates.
      </p>

      <ul>
          {%- for date in dates -%}
            <li>
              {%- if date.done -%}<s>{%- endif -%}
                <span class="event">
                  {{ date.name }}:
                </span>
                <span class="date">
                  {{ date.date }}
                </span>
              {%- if date.done -%}</s>{%- endif -%}
            </li>
          {%- endfor -%}
      </ul>

      The important dates can be found in the
      <a href="https://calendar.google.com/calendar/ical/1082bd9044e887fc3095c4f69f352131976200a65678dbf6744c577e71762b47%40group.calendar.google.com/public/basic.ics">SYCO 12 calendar</a>.

      <h2 id="online">In-person and online participation</h2>
      <p>
        While the SYCO experience is best enjoyed in-person, all talks will be
	livestreamed for virtual participants.
	However, speakers are expected to present their contribution in person.
      </p>

      <h2 id="registration">Registration</h2>

      <p>
        You can register for SYCO 12 by filling out the online
        <a href="https://forms.gle/XxKEssgXiYSo4TUZ8">SYCO 12 registration form</a>.
        Even if you're only attending virtually, you will need to register in
        order to receive the livestream link!
     </p>

      <h2>Accepted talks</h2>

      <ul>
      {%- for item in talks -%}
        {%- assign key = item[0] -%}
        {%- assign talk = talks[key] -%}
        {%- if not talk.invited -%}
        <li><div><b>{%- for author in talk.authors -%}
          {{ author.name }}{%- if author.presenter -%}*{%- endif -%}
          {%- if not forloop.last %}, {% endif -%}
          {%- endfor -%}</b></div><div>{{ talk.title }}</div></li>
        {%- endif -%}
      {%- endfor -%}
      </ul>

      <h2 id="programme">Schedule</h2>

      <p>
        The author marked with an asterisk * will be presenting the talk.
      </p>

      <div class="schedule">
        {%- for day in schedule -%}
          {%- assign dayname = day[0] -%}
          {%- assign dayitem = schedule[dayname] -%}
          <h3 class="schedule-section-title">{{ dayitem.name }}</h3>
          <div class="schedule-day">
          {%- for item in dayitem.schedule -%}
            {%- if item.type == "break" -%}
            <div class="schedule-item schedule-break">
              <div class="schedule-break-details">
                <div class="schedule-time">{{ item.time }}</div>
                <div><b>{{ item.name | makeUppercase }}</b></div>
              </div>
            </div>
            {%- elsif item.type == "talk" -%}
            {%- assign talk = talks[item.talk] -%}
            <div class="schedule-item schedule-talk">
                <div class="schedule-talk-details">
                  <div class="schedule-time">{{ item.time }}</div>
                  <div class="talk-authors">
                    <b>{%- for author in talk.authors -%}
                    {{ author.name }}{%- if author.presenter -%}*{%- endif -%}
                    {%- if not forloop.last %}, {% endif -%}
                    {%- endfor -%}</b>
                  </div>
                </div>
                <div class="schedule-talk-second-row">
                  <div class="talk-title">
                    {{ talk.title }}
                  </div>
                  {%- if talk.abstract -%}
                  <button class="talk-button" onClick="toggleAbstract('{{ item.talk }}')">
                    [Abstract]
                  </button>
                  {%- endif -%}
                </div>
                <div id="{{ item.talk }}-abstract" class="abstract abstract-hidden">
                  <div>
                    {{ talk.abstract | newline_to_br }}
                  </div>
                  <div class="close-button-holder">
                    <button class="close-abstract-button talk-button" onClick="toggleAbstract('{{ item.talk }}')">
                      [Close abstract]
                    </button>
                  </div>
                </div>
            </div>
            {%- endif -%}
          {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>

      <h2 id="localInformation">Local information</h2>

      To be announced.

      <h2 id="submissions">Submissions</h2>

      <p>
        Submissions have now closed.
      </p>

      <!-- <h2>Attendees</h2>

      <div>
        <ul>
          {%- for attendee in attendees -%}
            <li>{{ attendee.name }}, {{ attendee.institution }}</li>
          {%- endfor -%}
        </ul>
      </div> -->

      <h2 id="lo">Local organizers</h2>

      <div class="people">
        {%- for member in organising -%}
        {%- assign person = people[member.name] -%}
        <div class="person-box">
          <img class="person" src="./static/{{ person.img }}" alt="{{ person.name }}"/>
          <div class="name"><a href="{{ person.web }}">{{ person.name }}</a></div>
          <div class="affiliation">{{ person.affiliation }}</div>
        </div>
        {%- endfor -%}
      </div>

      <h2 id="pc">Programme committee</h2>

      <div class="people">
        {%- for member in programme -%}
        {%- assign person = people[member.name] -%}
        <div class="person-box">
          <img class="person" src="./static/{{ person.img }}" alt="{{ person.name }}"/>
          <div class="name">{% if person.web %}<a href="{{ person.web }}" title="{{ person.name }}'s personal webpage">{% endif %}{{ person.name }}{%- if member.chair %} (chair){%- endif -%}{% if person.web %}</a>{% endif %}</div>
          <div class="affiliation">{{ person.affiliation }}</div>
        </div>
        {%- endfor -%}
      </div>

      <h2 id="sc">Steering committee</h2>

      <p>
        The symposium is managed by the following people. If you have a general
        question about SYCO, or if you want to propose to host a future
        iteration, please get in touch with a member of the steering committee.
      </p>

      <div class="people">
        {%- for member in steering -%}
        {%- assign person = people[member.name] -%}
        <div class="person-box">
          <img class="person" src="./static/{{ person.img }}" alt="{{ person.name }}"/>
          <div class="name">{% if person.web %}<a href="{{ person.web }}" title="{{ person.name }}'s personal webpage">{% endif %}{{ person.name }}{% if person.web %}</a>{% endif %}</div>
          <div class="affiliation">{{ person.affiliation }}</div>
        </div>
        {%- endfor -%}
      </div>

      <h2 id="sponsorship">Sponsorship</h2>
      <p>
        Thanks to <a href="https://www.cs.bham.ac.uk/~drg/" title="Dan Ghica's personal webpage">Dan Ghica</a> for
        providing funding from his EPSRC grant, and to
        <a href="https://www.cs.bham.ac.uk/~mhe/" title="Martin Escardo's personal webpage">Martin Escardo</a> and
        <a href="https://filipendule.github.io/" title="Sonia Marin's personal webpage">Sonia Marin</a>
        for providing funding from the <a href="https://www.birmingham.ac.uk/research/activity/computer-science/theory-of-computation" title="Theory Group webpage">Theory Group</a>'s budget.
        Without their contributions this edition of SYCO would not have been
        able to go ahead!
      </p>
    </div>
  </body>
</html>
